body {
    background-color: lightgrey;
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 15px;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 700px;
    margin: 0 50px 0 50px;
}

.image__desktop--top {
    position: absolute;
    left: -50px;
}

.image__desktop--bottom {
    position: absolute;
    bottom: -50px;
    right: -150px;
}

.top {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 100px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info__header--huge-text {
    font-size: 30px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.reviews {
    display: flex;
    flex-direction: row;
    margin: 100px;
}

.reviews__container {
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    margin: 10px;
}

.reviews__name {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    margin: 20px 20px 0 20px;
}

.reviews__buyer {
    font-weight: 700;
    color: hsl(322, 28%, 48%);
    font-size: 12px;
    margin: 0 20px 0 20px;
}

.reviews__comment {
    color: hsl(300, 24%, 96%);
    font-size: 13px;
    margin: 20px;
}

.attribution {
    position: absolute;
    bottom: 5px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}