body {
    background-color: lightgrey;
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 15px;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 700px;
}

.top {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
}

.info__header--huge-text {
    font-size: 30px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.attribution {
    position: absolute;
    bottom: 5px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}